{% extends "creator/base.html" %}

{% block container %}
    <h2>Create your timesheet</h2>

    <br/>

    <div class="row">
        <div class="col s 12 l9">
            <form method="post" class="details-form">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="row required-fields">
                    <div class="col s12 l6 input-field">
                        {{ form.first_name.errors }}
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="col s12 l6 input-field">
                        {{ form.surname.errors }}
                        {{ form.surname.label_tag }}
                        {{ form.surname }}
                    </div>
                </div>

                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Advanced</div>
                        <div class="collapsible-body advanced-fields">
                            <div class="input-field">
                                {{ form.unit_of_organisation.errors }}
                                {{ form.unit_of_organisation.label_tag }}
                                {{ form.unit_of_organisation }}
                            </div>
                            <div class="input-field">
                                {{ form.hours.errors }}
                                {{ form.hours.label_tag }}
                                {{ form.hours }}
                            </div>
                            <div class="input-field">
                                {{ form.days_worked.label_tag }}
                                {{ form.days_worked.errors }}
                                {{ form.days_worked }}
                            </div>
                        </div>
                    </li>
                </ul>

                <button type="submit" class="waves-effect waves-light btn">Create!</button>
            </form>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col s 12 l9">
            <h5>How to use TimesheetCreator:</h5>
            <p>
                TimesheetCreator will automatically schedule your working hours for you,
                based on information about weekends and public holidays in Lower Saxony.
                <br/>
                The input you provide to the form above will render a pdf that you can then download.
            </p>
            <p>
                The advanced section lets you specify more detailed information such as
                the exact dates you have worked, the amount of hours worked or
                the name of the institute you are employed at.
            </p>
            <div class="divider"></div>
            <h5>Subscription function:</h5>
            <p>
                You can also have your timesheet be automatically created once per month and sent to you via email.
                This way you don't ever need to think about it again <a href="{% url "subscribe" %}">&rarr; Subscribe</a>.
            </p>
        </div>
    </div>

{% endblock %}
