django>=1.11.18
psycopg2==2.7.1
psycopg2-binary==2.7.4
django_heroku==0.3.1
gunicorn==19.7.1
reportlab==3.4.0
xhtml2pdf>=0.2b1
django-easy-pdf==0.1.1
holidays==0.9.4
numpy==1.14.2
freezegun==0.3.10
itsdangerous==0.24
django-contact-form==1.5
requests==2.20.0
python-akismet==0.4.2